<section class="sidebar"  style="background-color: #222222">
    <ul class="sidebar-menu">
        <li><a href="/applications"><i class="fa fa-dashboard"></i> <span>Applications</span></a></li>
        <li><a href="/enrolledapps"><i class="fa fa-gear"></i> <span>Enrolled Devices</span></a></li>
        <li><a href="/applications"><i class="fa fa-edit"></i> <span>Create Custom</span></a></li>
        <li><a href="/applications"><i class="fa fa-gears"></i> <span>Settings</span></a></li>
    </ul>
</section>